<!DOCTYPE html>
<html layout:decorator="layout/layout" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title layout:fragment="title" th:text="#{users.page.title}">Users</title>
</head>

<body>
   <div id="main" layout:fragment="content">
    <p><input type="button"  class="btn btn-primary btn-sm" value="Новый пользователь" onclick="javascript:window.location='/mvc/users?new'" /></p>
    <table class="table table-striped table-bordered">
        <caption class="text-center lead" th:text="#{users.page.title}">Add Title</caption>
        <thead>
            <tr>
 <!--               <th scope="col" th:text="#{users.userId.label}">Id</th>-->
                <th scope="col" th:text="#{users.userName.label}">Имя</th>
                <th scope="col" th:text="#{users.fullName.label}">Полное имя</th>
                <th scope="col" th:text="#{users.userPassword.label}">Пароль</th>
                <th scope="col" th:text="#{users.isDeleted.label}">Удалён</th>
                <th scope="col" th:text="#{users.actions.label}">Удалён</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
<!--                <td th:text="${user.userId}">Id</td>-->
                <td th:text="${user.userName}">userName</td>
                <td th:text="${user.fullName}">fullName</td>
                <td th:text="${user.userPassword}">userPassword</td>
                <td th:if="${user.isDeleted}" th:text="#{users.isNotDeleted.label}">Failed</td>
                <td th:unless="${user.isDeleted}" th:text="#{users.isDeleted.label}">Passed</td>
                <td> <a th:href="@{users/edit/} + ${user.userId}" th:text="#{users.actions.edit.label}"> </a>
                     <a th:href="@{users/delete/} + ${user.userId}" th:text="#{users.actions.delete.label}"></a>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</body>
</html>